@model Quiron.LojaVirtual.Dominio.Entidades.Pedido

@{

    ViewBag.Title = "Quiton Fechar o Pedido";
}



<h2>Fechar o Pedido</h2>

<p>Disite suas informações abaixo</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Enviar Para</h3>

    <div class="form-group">
        <label>Nome do Cliente</label>
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Cep</label>
        @Html.TextBoxFor(x => x.Cep, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Endereço</label>
        @Html.TextBoxFor(x => x.Endereco, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Complemento</label>
        @Html.TextBoxFor(x => x.Complemento, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Cidade</label>
        @Html.TextBoxFor(x => x.Cidade, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Bairro</label>
        @Html.TextBoxFor(x => x.Bairro, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Estado</label>
        @Html.TextBoxFor(x => x.Estado, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>E-mail</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <h3>Opções</h3>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.EmbrulharPresente)
            Embrulhar para presente?
        </label>
    </div>
    
    <input class="btn btn-primary" type="button"  value="Fechar o Pedido"/>


}