@model Quiron.LojaVirtual.Dominio.Entidades.Pedido

@{

    ViewBag.Title = "Quiton Fechar o Pedido";
}



<h2>Fechar o Pedido</h2>

<p>Disite suas informações abaixo</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Enviar Para</h3>

    <div class="form-group">
        <label>Nome</label>
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
    </div>

    <h3>Dados para entrega</h3>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "PedidoId" && property.PropertyName != "Nome" && property.PropertyName != "EmbrulharPresente")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName) </label>
                @Html.TextBox(@property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }


    <h3>Opções</h3>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.EmbrulharPresente)
            Embrulhar para presente?
        </label>
    </div>

    <input class="btn btn-primary" type="button" value="Fechar o Pedido" />


}